:root{
    --blue: rgb(38, 96, 255);
}

.bg-color{
    background-color: var(--blue);
}

.bg-primary{
    background-color: red !important;
    font-size: 9px;
}

.nav-link{
    border-radius: 16px;
    border-bottom: black;
}

.nav-link:hover{
    transition: 0.25s;
    color: white !important;
    background-color: blue;
}

.btn:not(.nav-btns button){
    background-color: white !important;
    border-radius: 20px;
    border-color: black;
}

.btn:not(.nav-btns button):hover{
    background-color: aquamarine !important;
    border-color:blue;
}

.nav-btns{
    color:white;
}

#header{
    background: url(../src/background0.png) top/cover no-repeat;
}

/*Collection*/
.title h2::before{
    position: relative;
    content: ".";
    color: var(--blue);
    width: 4px;
    height: 50px;
    background-color: var(--blue);
    left: -10px;
}

.collection-img span{
    top: 20px;
    right: 20px;
    width: auto;
    height: 23px;
    border-radius: 20px;
    background-color: var(--blue);
}

.item{
    border-radius: 20px;
}

/* Special Platforms */

.img-r{
    border-radius: 20px;
}

#newsletter .container{
    max-width: 512px;
}

.form-control{
    border-radius: 20px;
    border-color: black;
}

#offers{
    background: url(../src/background0.png)
    center/cover no-repeat;
    overflow-x: hidden;
}

#offers .row{
    min-height: 60vh;
}

@media(min-width:992px){
    .nav-item{
        border-bottom: black;
        border-color: black;
    }
}